.title{
    font-size: 2.2rem;
    margin-bottom: 2rem;
}

.progress {
    margin: 0 auto;
    width: 100%;
    height: 2rem;
}

.body_class {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    width: 60rem;
    margin: auto;
}

.question_text {
    font-size: 1.5rem;
}

@media only screen and (max-width: 400px) {
    .body_class {
        width: 20.6rem;
    }
    .question_text {
        font-size: 1rem;
    }
    .form-check-label {
        font-size: 1rem;
        padding-left: 1rem;
    }
    input[type=radio] {
        width: 1rem;
        height: 1rem;
    }
    .contentTop{
        width: 58rem;
    }
    #footer-elements{
        width: 58rem;
    }
}

.question_div {
    padding: 2rem 0 1.2rem 0;
}

.btn {
    font-size: 1.2rem;
}

.form-check-label {
    font-size: 1.5rem;
    color: #194780;
    margin-left: 1.5rem;
}

input[type=radio] {
    width: 1.5rem;
    height: 1.5rem;
}

.form-control {
    display: inline-block;
    margin-top: 0.8rem;
    margin-right: 0.4rem;
    font-size: 1.2rem;
    width: 25rem;
    
}
#checkAvailability{
    display: inline-block;
}

.contentTop{
    /* border: 2px solid black; */
    border-radius: 10px 10px 0 0;
    background-color: #F3F9FD;
    padding: 2rem;
}

.errorMessages-div{
    margin-top: 0.5rem;
    margin-left: 3rem;
    font-size: 1.0rem;
}

#footer-elements{
    background-color: #194780;
    border-radius: 0 0 10px 10px;    
    height: 4rem;
    width: 60rem;
}

#btnPrevious{
    background-color: #b8b8b8;
}
#chatbot{
    width: 4rem;
    height: 4rem;
}
#carla{
    width: 4rem;
    height: 5rem;
}
.inlines{
    display: inline-block;
}



/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 20rem;
  }
  
  /* The popup chat - hidden by default */
  .chat-popup {
    display: none;
    position: fixed;
    bottom: -20px;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 1;
  }
  
  /* Add styles to the form container */
  .form-container {
    /* max-width: 300px;
    padding: 10px;
    background-color: white; */
  }
  
  .form-container textarea {
    /* width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    resize: none;
    min-height: 200px; */
  }
  
  /* When the textarea gets focus, do something */
  .form-container textarea:focus {
  }
  
  /* Set a style for the submit/send button */
  .form-container .btn {
  }

.chatbox{
    border-radius: 15px;
    border: 1px solid grey;
    margin-left: 3px;
    padding: 0 10px 10px 10px;

    width: 15rem;
    padding: 15px;
    /* margin: 5px 0 22px 0; */
    border: none;
    background: #f1f1f1;
    resize: none;
    min-height: 200px;
}